* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-sidebar: rgb(0, 64, 255);
    --light-green: rgb(0, 204, 255);
    --bg-color: white;
    --light-grey: blue;
    --text-color: black;
}

body {
    background-color: var(--bg-color);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}



.sidebar {
    background-color: var(--bg-sidebar);
    position: fixed;
    height: 100%;
    width: 255px;
    transition: all .4s ease;
    white-space: nowrap;
    z-index: 1;
    
}

.sidebar.close {
    width: 78px;
    transition: all .4s ease;
}

header {
    display: flex;
    align-items: center;
    padding: 24px 29px;
    height: 80px;
    width: 100%;
}

header .logo-text {
    transition: all .4s ease;
}

header > img {
    position: absolute;
    right: 27px;
    cursor: pointer;
    transition: all .8s;
}

header > img.rotate {
    transition: all .3s linear;
    transform: rotate(-180deg);
}

.menu-links {
    width: 100%;
    list-style: none;
}

.menu-links a img {
    padding-left: 27px;
}

.menu-links > li {
    display: flex;
    align-items: center;
    /*background-color: var(--light-green);*/
    background-color: blue;
    gap: 15px;
    margin: 0px 14px 20px;
    padding-left: 10px;
    height: 50px;
    border-radius: 12px;
    cursor: text;
    transition: all .2s ease;
}

.menu-links > li.change-bg {
    transition: all 1s linear;
    background-color: var(--light-grey);
}

.menu-links > li input {
    background-color: blue;
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 12px;
}

.dashboard-link span {
    transition: all .3s ease;
}

.pets-link span {
    transition: all .3s ease;
}

.clients-link span {
    transition: all .3s ease;
}

.vets-link span {
    transition: all .3s ease;
}

.settings-link span {
    transition: all .3s ease;
}

.links-list a {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding: 30px 0;
    text-decoration: none;
    color: var(--text-color);
    transition: all .4s ease;
}

.links-list a:hover {
    transition: all .4s ease;
    background-color: var(--light-green);
}

.bottom-content {
    display: flex;
    align-items: center;
    background-color: var(--light-green);
    position: absolute;
    gap: 9px;
    padding: 8px 14px;
    width: 100%;
    height: 60px;
    bottom: 0;
}

.bottom-content .user-image {
    display: flex;
    align-items: center;
    transition: all .3s linear
}

.bottom-content .user-image img {
    object-fit: cover;
    width: 45px;
    height: 45px;
    border-radius: 12px;
}

.bottom-content .user-data {
    display: flex;
    flex-direction: column;
    transition: all .3s linear
}

.user-data .user-name {
    font-size: 15px;
    font-weight: 400;
    color: var(--text-color);
}

.user-data .user-status {
    font-size: 12px;
    font-weight: 400;
    color: var(--text-color);
}

.bottom-content .logout {
    position: absolute;
    right: 27px;
    cursor: pointer;
}

.hideElement {
    opacity: 0;
    transition: all .3s linear;
}

section {
    background-color: var(--bg-color);
    position: absolute;
    top: 0;
    left: 255px;
    width: calc(100% -255px);
    transition: all .4s ease;
    
}

.sidebar.close ~ section {
    left: 78px;
    width: calc(100% -78px);
    transition: all .4s ease;
}

h1 {
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
    padding: 18px;
}

.container {
    margin-left: 250px; /* Ajuste conforme a largura do menu lateral */
    padding: 20px;
    max-width:1000px;
}

.containerTelaMenor {
    margin-left: 20px; /* Ajuste conforme a largura do menu lateral */
    padding: 20px;
    max-width:1000px;
}

.section {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    height: 500px; /* Tamanho fixo desejado */
    overflow-y: auto; /* Adicionando barra de rolagem vertical */   
}

.section-principal{
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    height: fit-content; /* Tamanho fixo desejado */
    overflow-y: auto; /* Adicionando barra de rolagem vertical */  
}